:root{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


body{
    padding: 0px;
    margin: 0px;
}

.container{
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100vh;
    width: 100vw;
    background-color: #e9d5ff;
    padding: 0px;
}

.sidebar{
    background-color: #c084fc;
    grid-area: 1 / 1 / 4 / 2; 
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    padding-left: 30px;
}

.header{
    background-color: white;
    grid-area: 1 / 2 / 2 / 4; 
    box-shadow: 0px 2px 5px grey;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header-top-row{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-bottom-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bell-icon{
    margin-left: 120px;
}

.project-card{
    background-color: #d9f99d;
}

.search-bar{
    background-color: #e9d5ff;
    width: 40vw;
    height: 25px;
    border-radius: 14px;
}

.left{
    display: flex;
    align-items: center;
}

button{
    border-radius: 10px;
    border-style: none;
    background-color: #c084fc;
    color: white;
    font-size: large;
    margin-left: 20px;
    margin-right: 20px;
}

.smallwords{
    font-size: small;
}

.bigwords{
    font-size: x-large;
}

h4{
    color:white;
    font-weight: bold;
    font-size: large;
}

.sidebarTitle{
    color:white;
    font-weight: bold;
    font-size: x-large;   
}

.main-content{
    padding: 20px;
    grid-area: 2 / 2 / 4/ 4;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 5fr 5fr 3fr;


}

.projects{
    grid-area: 1 / 1 / 3/ 3;
}

.project-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 90%;
    width: 95%;
    gap: 20px;
}

.card{
    background-color: white;
    box-shadow: 0px 2px 5px grey;
    border-radius: 15px;
    border-left: solid 15px #a3e635;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card p{
    color: grey;
}

.end-card{
    background-color: white;
    height: 80%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 2px 5px grey;
    
}

.Greyed{
    color: grey;
}

.trending-account{
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
}

p{
    margin-block-start: 4px;
    margin-block-end: 4px;
}

.announceList{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

hr {
    margin-left: 0;
    margin-right: 0;
  }

.announceList p{
    color: grey;
    font-size:x-small;
}

h3{
    margin-block-end: 0px ;
    margin-block-start: 5px;
}

.icons{
    display: flex;
    justify-content: flex-end;
    align-self: end;
    gap: 5px;
}